# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Mac/Windows
ehthumbs.db
